<?xml version="1.0" encoding="UTF-8"?>
<suite name="AppiumTestSuite">
    <test name="QuickStartTests">
        <packages>
            <package name="quickStartTests.*"/>
        </packages>
    </test>
    
    <test name="AdvancedCommandsTests">
        <packages>
            <package name="advancedCommands.*"/>
        </packages>
    </test>
    
    <test name="OptionalCapabilitiesTests">
        <packages>
            <package name="optionalCapabilities.*"/>
        </packages>
    </test>
</suite>